extends ../layouts/default.pug

block main
  main.chat-layout
    include ../partials/sidebar.pug

    section.users-discover
      .users-section
        .users-section__head
          h2 Friend requests
          a(href="/chat/requests/received") See all

        .users-grid
          if friendRequests && friendRequests.length
            each request in friendRequests

              - const requestAvatar = request.avatar || ""
              - const requestAvatarIsImage = requestAvatar && (requestAvatar.includes("http") || requestAvatar.includes("/") || requestAvatar.includes(".jpg") || requestAvatar.includes(".jpeg") || requestAvatar.includes(".png") || requestAvatar.includes(".webp"))
              - const requestAvatarSrc = requestAvatar.includes("http") || requestAvatar.includes("/") ? requestAvatar : `/uploads/${requestAvatar}`
              article.people-card
                .people-card__media
                  if requestAvatarIsImage
                    img(src=requestAvatarSrc alt=request.name loading="lazy")
                  else
                    .people-card__placeholder
                      i.fa-solid.fa-user
                .people-card__body
                  h3= request.fullName
                  p
                    i.fa-solid.fa-user-group
                    span= request.statusLabel || "New request"
                  .people-card__actions
                    button.btn.btn-primary(type="button") Confirm
                    button.btn.btn-light(type="button") Delete
          else
            p.users-empty No friend requests right now.

        .users-section__footer
          a(href="/chat/requests/received") See More

      .users-section
        .users-section__head
          h2 People you may know
          a(href="/chat/discover") See all

        .users-grid
          if strangers && strangers.length
            each stranger in strangers
              - const userId =  stranger.id
              - const displayName = stranger.fullName
              - const mutualInfo = stranger.mutualFriendsLabel || stranger.bio || "1 mutual friend"
              - const userAvatar = stranger.avatar || ""
              - const userAvatarIsImage = userAvatar && (userAvatar.includes("http") || userAvatar.includes("/") || userAvatar.includes(".jpg") || userAvatar.includes(".jpeg") || userAvatar.includes(".png") || userAvatar.includes(".webp"))
              - const userAvatarSrc = userAvatar.includes("http") || userAvatar.includes("/") ? userAvatar : `/uploads/${userAvatar}`
              article.people-card
                .people-card__media
                  if userAvatarIsImage
                    img(src=userAvatarSrc alt=displayName loading="lazy")
                  else
                    .people-card__placeholder
                      i.fa-solid.fa-user
                .people-card__body
                  h3= displayName
                  p
                    i.fa-solid.fa-user-group
                    span= mutualInfo
                  .people-card__actions
                    button.btn.btn-primary.add-friend-btn(
                      type="button"
                      data-user-id=userId
                    ) Add friend
                    button.btn.btn-light.remove-friend-btn(
                      type="button"
                      data-user-id=userId
                    ) Remove
                    button.btn.btn-secondary.cancel-friend-btn(
                      type="button"
                      data-user-id=userId
                    ) Cancel
          else
            p.users-empty No suggestion users available.
